{% extends 'applications/layout/basic.html' %}

{% block title %}
    Выбор приложения
{% endblock %}

{% block panel %} {% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center mt-2 ">
        <div class="row w-50 d-flex align-content-center">

            <div class="card w-100 mt-5">
                <div class="card-body row">
                    {% if group.name != 'Бригадира' %}
                    <div class="col-6 mb-3">
                        <a href="{% url 'applications:apps' %}" class="btn btn-secondary w-100" style="background: #580e9d;">ОТДЕЛ КОММЕРЦИИ</a>
                    </div>
                    {% endif %}

                    {% if group.name == 'Начальники производства' or group.name == 'Администрация' %}
                        <div class="col-6 mb-3">
                            <a href="/salary/payroll/{{current_date}}"  class="btn btn-secondary w-100" style="background: #580e9d;">РАСЧЕТ ЗП</a>
                        </div>
                    {% endif %}

                    {% if group.name == 'Бригадира' %}
                        <div class="col-6 mb-3">
                            <a href="/salary/timesheet/"  class="btn btn-secondary w-100" style="background: #580e9d;">ТАБЕЛЬ</a>
                        </div>
                    {% endif %}
                    {% if group.name == 'ОТК' or group.name == 'Администрация'%}
                        <div class="col-6 mb-3">
                            <a href="/salary/fine/"  class="btn btn-secondary w-100" style="background: #580e9d;">ШТРАФЫ</a>
                        </div>
                    {% endif %}
                    {% if group.name == 'Начальники производства' or group.name == 'Администрация'%}
                        <div class="col-6 mb-3">
                            <a href="/salary/employees/"  class="btn btn-secondary w-100" style="background: #580e9d;">Сотрудники</a>
                        </div>
                    {% endif %}

                    {% if group.name == 'Начальники производства' or group.name == 'Администрация'%}
                        <div class="col-6 mb-3">
                            <a href="/salary/positions/"  class="btn btn-secondary w-100" style="background: #580e9d;">Должности</a>
                        </div>
                    {% endif %}

                    {% if group.name == 'Начальники производства' or group.name == 'Администрация'%}
                        <div class="col-6 mb-3">
                            <a href="/salary/departments/"  class="btn btn-secondary w-100" style="background: #580e9d;">Участки</a>
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
{% endblock %}