{% extends "applications/layout/basic.html" %}

{% block title %} Список заказчиков {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row m-2 ">
            {% for app in apps %}
                <div class="col-1">
                    <a href="{% url 'applications:by_firm' app.name_firm %}" class="btn btn-light "><i class="fas fa-file-archive fa-5x"></i>
                        <p class="mb-0 mt-1">{{app.name_firm}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}