{% extends 'salary/layout/basic.html' %}
{% load static %}
{% load salary_dict %}
{% block title %} Расчетный лист {% endblock %}

{% block content %}
<p class="text-center m-0">
    <span class="text-danger m-0">Внимание</span>, участки незаполнившие табель:
        {% if errors.count > 0%}
            {% for error_dep in errors %} | {{error_dep.name}} {% endfor %}.
        {% else %}
            нет ни одного подобного участка.
        {% endif %}
</p>
<div class="col-9">
    <div style="justify-content: center;
    display: flex;">
        <select style="" id="select_year" class="select-group"
                onChange="choose_timesheet()">

            <option value="{{request_date.year}}">{{request_date.year}}</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
        </select>
        <select id="select_month" class="select-group"
        onChange="choose_timesheet()">
            <option value="{{request_date.month}}">{{request_date.month}}</option>

                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>

        </select>
    </div>
      <style>
        select {
            border-radius: 5px;
            color: white;
            background: #1266f1;
            padding: 5px;
            border: 1px solid #1266f1;
            margin-right: 2px;
        }
    </style>
<table class="table table-sm table-hover" style="width: 100% !important;">
    <thead>
     <tr class="text-center">
         <th ></th>
         <th >ФИО</th>
         <th >Должность</th>
         <th >Оклад</th>
<!--      <th >Разряд</th>   -->
         <th >К1</th>
         <th >Часы</th>
         <th >Пр бриг</th>
         <th >Пр нач. п.</th>
         <th >ЗП</th>
         <th >Аванс</th>
         {% if group.name == 'Бухгалтерия' or group.name == 'Администрация'%}
            <th >Карта</th>
            <th >Столовая</th>
            <th >Прочее</th>
         {% endif %}
         <th >Штраф</th>
         <th >Выдача</th>
         <th></th>
     </tr>
    </thead>
    <tbody>
        {% for payroll in payrolls %}
            {% with payroll|convert as dates %}
            <tr >
                {% if group.name == 'Бухгалтерия' or group.name == 'Администрация'%}
                    <td colspan="17" class="text-center text-uppercase fs-5" style="background: #703baa; color: white;">
                        {{payroll.department}}
                    </td>
                {% endif %}
                {% if group.name == 'Начальники производства' %}
                    <td colspan="14" class="text-center text-uppercase fs-5" style="background: #703baa; color: white;">
                        {{payroll.department}}
                    </td>
                {% endif %}

            </tr>
            {% for data in dates %}
                <tr class="selector">
                    <td class="{% get_method dates data 'norm_clocks' %}">{{forloop.counter}}</td>
                    <td>
                       <div class="input-group input-group-sm m-0 mb-0 ">
                            <input  class="form-control p-0 text-center border-0 rounded-0 worker"
                                   type="text" readonly value="{% get_method dates data 'worker' %}">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input  class="form-control p-0 text-center border-0 rounded-0 position"
                                   type="text" readonly value="{% get_method dates data 'position' %}">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input  class="form-control p-0 text-center border-0 rounded-0 salary"
                                   type="text" readonly value="{% get_method dates data 'salary' %}">
                        </div>
                    </td>
<!--                    <td>-->
<!--                        <div class="input-group input-group-sm m-0 mb-0 ">-->
<!--                            <input  class="form-control p-0 text-center border-0 rounded-0 degree"-->
<!--                                   type="text" readonly value="{% get_method dates data 'degree' %}">-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            {% if  payroll.status == 'close' %}
                            <input disabled pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="coefficient" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 coefficient"
                                   type="text" value="{% get_method dates data 'coefficient' %}">
                            {% else %}
                                <input  pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="coefficient" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 coefficient"
                                   type="text" value="{% get_method dates data 'coefficient' %}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input  class="form-control p-0 text-center border-0 rounded-0 sumclocks"
                                   type="text" readonly value="{% get_method dates data 'sumclocks' %}">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            {% if  payroll.status == 'close' %}
                            <input disabled pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="extra_from_foreman" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 extra_from_foreman"
                                   type="float" value="{% get_method dates data 'extra_from_foreman' %}">
                            {% else %}
                                <input pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="extra_from_foreman" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 extra_from_foreman"
                                   type="float" value="{% get_method dates data 'extra_from_foreman' %}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            {% if  payroll.status == 'close' %}
                            <input disabled pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="extra_from_director" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 extra_from_director"
                                   type="float" value="{% get_method dates data 'extra_from_director' %}">
                            {% else %}
                                <input pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="extra_from_director" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 extra_from_director"
                                   type="float" value="{% get_method dates data 'extra_from_director' %}">
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">

                            <input  class="form-control p-0 text-center border-0 rounded-0 wage"
                                   type="text" readonly value="0.00">
                        </div>
                    </td>

                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            {% if payroll.status == 'avans' or payroll.status == 'close' %}
                            <input disabled  class="form-control p-0 text-center border-0 rounded-0 prepayment"
                                   type="float" value="{% get_method dates data 'prepayment' %}">
                            {% else %}
                            <input class="form-control p-0 text-center border-0 rounded-0 prepayment"
                                   type="float" value="{% get_method dates data 'prepayment' %}">
                            {% endif %}
                        </div>
                    </td>

                    {% if group.name == 'Бухгалтерия' or group.name == 'Администрация'%}
                        <td  id="1"  >
                    {% endif %}

                    {% if group.name == 'Начальники производства'%}
                        <td style="visibility: hidden; display: none;" id="1"  >
                    {% endif %}
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input pay_roll="{{payroll.pk}}" time_sh = "{{payroll.time_sheet.pk}}" name="card" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 card"
                                   type="float" value="{% get_method dates data 'card' %}">
                        </div>
                    </td>
                    {% if group.name == 'Бухгалтерия' or group.name == 'Администрация'%}
                        <td  id="1"  >
                    {% endif %}

                    {% if group.name == 'Начальники производства'%}
                        <td style="visibility: hidden; display: none;" id="1"  >
                    {% endif %}
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="breakfast" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 breakfast"
                                   type="float" value="{% get_method dates data 'breakfast' %}">
                        </div>
                    </td>
                    {% if group.name == 'Бухгалтерия' or group.name == 'Администрация'%}
                        <td  id="1"  >
                    {% endif %}

                    {% if group.name == 'Начальники производства'%}
                        <td style="visibility: hidden; display: none;" id="1"  >
                    {% endif %}
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input pay_roll="{{payroll.status}}" time_sh = "{{payroll.time_sheet.pk}}" name="other" worker="{% get_method dates data 'Worker' %}" class="form-control p-0 text-center border-0 rounded-0 other"
                                   type="float" value="{% get_method dates data 'other' %}">
                        </div>
                    </td>


                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input readonly class="form-control p-0 text-center border-0 rounded-0 fines"
                                   type="float" value="{% get_method dates data 'fines' %}">
                        </div>
                    </td>

                    <td>
                        <div class="input-group input-group-sm m-0 mb-0 ">
                            <input readonly class="form-control p-0 text-center border-0 rounded-0 result"
                                   type="float" value="0.00">
                        </div>
                    </td>
                    {% if forloop.counter == 1 %}
                        <td rowspan=3 style="vertical-align: middle;"><a blank="true" href="{% url 'salary:load_time_sheet_by_date' payroll.department.pk payroll.time_sheet.dataSheet  %}" style="transform: rotate(90deg);" class="btn btn-success" ><span >Табель</span></a></td>
                    {% endif %}


                </tr>
            {% endfor %}
            {% endwith %}
        {% endfor %}
        {% if payrolls.count > 0 %}
            {% if group.name == 'Бухгалтерия' or group.name == 'Администрация'%}
                <tr>
                    <td colspan="17" ><a href="{% url 'salary:update-status-pay-roll' user 'close' %}"  style="width: 100%;" class="btn btn-secondary">Принять рассчетный лист</a></td>
                </tr>
            {% endif  %}
            {% if group.name == 'Начальники производства' or group.name == 'Администрация' %}
                <tr>
                    <td colspan="17" ><a href="{% url 'salary:update-status-pay-roll' user 'avans' %}"  style="width: 100%;" class="btn btn-secondary">Закрыть Аванс</a></td>
                </tr>
            {% endif %}
        {% endif %}
    </tbody>
</table>
</div>
<div class="col-3">
    <div class="row" style="display: flex;">
        <div class="col-6">
            <a href="{% url 'salary:positions' %}" class="btn btn-secondary">Должности</a>
        </div>

        <div class="col-6">
            Норма часов: <input  type="text"  id="full_time" name="{{coefficient.pk}}" class="  p-0 text-center border-0 rounded-0 fines" value="{{coefficient.count}}">
        </div>

    </div>


</div>




<style>
    div.row {
        width: 100% !important;
        justify-content: flex-start !important;
    }
</style>

</div>

<style>
    th {
        font-size: 12px;
        font-weight: bold !important;
        padding: 4px 0px !important;
        text-transform: uppercase !important;
    }
    td{
        padding: 1px 2px !important;
    }
    input:focus{
        border: 1px solid green !important;
    }
    .input-group {
        width: fit-content;
    }
    .form-control{
         background: white !important;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){

    function analysis_salary(parent){
        salary = Number(parent.children[3].children[0].children[0].value);
        coefficient = Number(parent.children[4].children[0].children[0].value);
        sumclocks = Number(parent.children[5].children[0].children[0].value);
        extra_from_foreman = Number(parent.children[6].children[0].children[0].value);
        extra_from_director = Number(parent.children[7].children[0].children[0].value);
        prepayment = Number(parent.children[8].children[0].children[0].value);
        cart = Number(parent.children[10].children[0].children[0].value);
        kitchen = Number(parent.children[11].children[0].children[0].value);
        other = Number(parent.children[12].children[0].children[0].value);
        fines = Number(parent.children[13].children[0].children[0].value);
        avans = Number(parent.children[9].children[0].children[0].value)
        full_time = Number(document.getElementById('full_time').value);

        parent.children[8].children[0].children[0].value =
                Number((salary/full_time*sumclocks)*1*coefficient+extra_from_foreman+extra_from_director).toFixed(2);
        parent.children[14].children[0].children[0].value =
                Number(prepayment - (avans + cart + kitchen + other + fines)).toFixed(2);
    }

    all_selectors = document.getElementsByClassName('selector');
    for (var i=0; i < all_selectors.length; i++){
        analysis_salary(all_selectors[i]);
    }

    $('input#full_time').keyup(function(event) {
        if (event.keyCode > 47 && event.keyCode < 58 || event.keyCode > 95 && event.keyCode < 106 ||
            event.keyCode === 13 || event.keyCode === 8) {

            const requestOptions = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                value: this.value
            }),};
            fetch('/salary/change-coefficient/', requestOptions);
            window.location.href = '/salary/payroll/';
        }
    });

    $('input.form-control').keyup(function(event){
        if(event.keyCode > 47 && event.keyCode <58 || event.keyCode > 95 && event.keyCode <106 ||
            event.keyCode === 13 || event.keyCode === 8){
            parent = this.parentElement.parentNode.parentNode;
            console.log(this.value);
            console.log(this.getAttribute('name'));
            console.log(this.getAttribute('worker'));
            console.log(this.getAttribute('time_sh'));
            console.log(this.getAttribute('pay_roll'));
            analysis_salary(parent);
            const requestOptions = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                name_field: this.getAttribute('name'),
                value: this.value,
                worker:this.getAttribute('worker'),
                time_sheet_id:this.getAttribute('time_sh')
            }),};
            if (this.getAttribute('pay_roll') !== 'close'){
                fetch('/salary/change-data/', requestOptions)
            }
            else{
                alert('Ошибка! Расчетный лист принят бухгалтером!');
            }

        }
    });



});

    function choose_timesheet(){
        date_times = document.getElementById('select_year').value +'-'+ document.getElementById('select_month').value + '-' + '01';
        window.location.href = '/salary/payroll/' + date_times;
    }



</script>
{% endblock %}