{% extends "salary/layout/basic.html" %}
{% load salary_dict %}
{% block title %}
Табель
{% endblock %}

{% block content %}

<div class="list-group rounded-0 p-0" id="list-group">
  <button type="button" class="list-group-item list-post list-group-item-action p-1" value="pass">Пропуск по уважительной</button>
  <button type="button" class="list-group-item list-post list-group-item-action p-1" value="absenteeism">Прогул</button>
  <button type="button" class="list-group-item list-post list-group-item-action p-1" value="sick">Больничный</button>
  <button type="button" class="list-group-item list-post list-group-item-action p-1" value="weekend">Отпуск</button>
  <button type="button" class="list-group-item list-post list-group-item-action p-1" value="holiday">Выходной</button>
  <button type="button" class="list-group-item list-post list-group-item-action p-1" value="none">Убрать выделение</button>
  <button type="button" class="list-group-item list-view list-group-item-action p-1" value="note">Примечание...</button>

</div>

{% if errors != '' %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="row ">
        <h1>{{errors}}</h1>
        <a href="{% url 'salary:load_time_sheet' %}" class="btn btn-success">Перейти к табелю</a>
    </div>

</div>
{% endif %}
{% if errors == '' %}

<div class="col-12 p-3" style="overflow: auto;">

    <div style="justify-content: center;
    display: flex;">
        <select style="" id="select_year" class="select-group"
                onChange="choose_timesheet({{current_department.pk}})">

            <option value="{{current_time_list.dataSheet.year}}">{{current_time_list.dataSheet.year}}</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
        </select>
        <select id="select_month" class="select-group"
        onChange="choose_timesheet({{current_department.pk}})">
            <option value="{{current_time_list.dataSheet.month}}">{{current_time_list.dataSheet.month}}</option>

                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>

        </select>
    </div>

    <style>
        select {
            border-radius: 5px;
            color: white;
            background: #1266f1;
            padding: 5px;
            border: 1px solid #1266f1;
            margin-right: 2px;
        }
    </style>
    <table class="table table-sm table-bordered ">
        <thead>
            <tr class="text-center">
                <th colspan="{{ calendar.keys|length|add:'+6' }}">Табель
                    <span class="text-danger">{% get_month_and_year current_time_list "month" %}
                    </span> {% get_month_and_year current_time_list "year" %}г.</th>
            </tr>
            <tr>
                <th class="p-0 text-center">№</th>
                <th class="p-0 text-center ps-5 pe-5"><u>Ф.И.О</u></th>
                <th class="p-0 text-center">Сумм</th>
                <th class="p-0 text-center" style="width: 8%;">Спец.</th>
                {% for key, val in calendar.items %}
                    {% if val == False %}
                        <th style="background: #505d50; color:white;" class="p-0 text-center">{{key}}</th>
                    {% else %}
                        <th  class="p-0 text-center">{{key}}</th>
                    {% endif %}
                {% endfor %}
                <th class="p-0 text-center">Сумм</th>
                <th class="p-0 text-center">Прем</th>


                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for worker in workers %}
                <tr>
                    <th class="text-center p-0">{{forloop.counter}}</th>
                    <th class="text-center p-0" id="{{worker.pk}}">{{worker}}</th>
                    {% with worker.id as id %}
                        <th class="text-center p-0">{{ current_time_list|counttime:worker }}</th>
                        <th class="text-center p-0">

                            <select style="padding: 1px;" class="form-select select_position"  aria-label="Default select example">
                                <option selected value="{{worker.position.pk}}">{{worker.position}}</option>
                                {% for position in positions %}
                                    <option value="{{position.pk}}">{{position.name}}</option>
                                {% endfor %}
                            </select>
                        </th>

                        {% for key, value in calendar.items %}

                                <th class="text-center p-0">
                                    <div class="input-group input-group-sm mb-0">

                                            <input position="{{worker.position.pk}}" id = '{{id}}' day="{{key}}" name="{{current_time_list.pk}}" type="text" class="form-control p-0 text-center border-0 rounded-0"
                                                   aria-label="Text input with dropdown button"
                                                   style="background:{% dict current_time_list id forloop.counter 'background' %};
                                                          color: {% dict current_time_list id forloop.counter 'color' %}"
                                                   value="{% dict current_time_list id forloop.counter 'count' %}">
                                    </div>
                                </th>

                        {% endfor %}
                        <th class="text-center p-0">{{ current_time_list|counttime:worker }}</th>
                        <th class="text-center p-0">
                            <div class="input-group input-group-sm mb-0">
                                <input position="{{worker.position.pk}}" id = '{{id}}' day="0" name="{{current_time_list.pk}}" type="text" class="form-control p-0 text-center border-0 rounded-0"
                                                   aria-label="Text input with dropdown button"
                                                   style="background: white;
                                                          color: black;"
                                                   value="{% dict current_time_list id 0 'brig_salary' %}">
                            </div>
                        </th>
                        <th class="text-center p-0">
                            {% if current_time_list.status == 'open' %}
                            <a href="{% url 'salary:del_worker_from_timesheet' current_time_list.pk worker.id%}">
                                <button class="btn btn-danger p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </a>
                            {% endif %}
                        </th>
                    <th style="padding: 0;">
                        {% if current_time_list.status == 'open' %}
                       <a href="{% url 'salary:update-worker' worker.pk 'edit' %}" data-mdb-toggle="modal" data-mdb-target="#exampleModal" class="btn put_info btn-success" style="min-width: 30px !important;padding: 5px 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </th>
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if group.name == 'Бригадира' or group.name == 'Администрация'   %}
        {% if current_time_list.status == 'open' %}
        <a class="btn btn-primary" href="{% url 'salary:update-status' current_time_list.pk %}">Отправить Начальнику Производства</a>
        <a class="btn btn-success" href="{% url 'salary:add-worker' %}">Добавить работника</a>
        {% endif %}
    {% endif %}
    {% if group.name == 'Начальники производства' or group.name == 'Администрация'  %}
        <a class="btn btn-secondary" href="{% url 'salary:payroll' current_date %}">Открыть рассчетный лист</a>
    {% endif %}
</div>

<div class="col-3 p-3 pt-0">
    <table class="table table-bordered table-sm" >
        <thead>
            <tr>
                <th class="p-1" style="background: #ffff00b3;"></th>
                <th class="p-0 ps-1">по уважительной причине</th>
            </tr>
            <tr>
                <th class="p-0" style="background: #ff0004b3;"></th>
                <th class="p-0 ps-1">прогул</th>
            </tr>
            <tr>
                <th class="p-0" style="background: #00ff10b3;"></th>
                <th class="p-0 ps-1">больничный</th>
            </tr>
            <tr>
                <th class="p-0" style="background: #1700ffb3;"></th>
                <th class="p-0 ps-1">отпуск</th>
            </tr>
            <tr>
                <th class="p-0" style="background: #505d50;"></th>
                <th class="p-0 ps-1">выходной</th>
            </tr>

        </thead>
    </table>
</div>
{% endif %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Перемещение сотрудника</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="text" disabled class="form-control " id="modal_input">
          <select style="padding: 2px; margin-top: 2px;" class="form-select select_position" id="select_department"  aria-label="Default select example">
              <option selected value="0">ПУСТО</option>
                {% for department in departments %}
                    <option value="{{department.pk}}">{{department.name}} ({{department.manufacture.name}})</option>
                {% endfor %}
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Отмена</button>
        <button onclick="sent_for_move()" type="button" class="btn btn-primary">Переместить</button>
      </div>
    </div>
  </div>
</div>

<form method="post" style="display: none;">
    {% csrf_token %}
    <input type="text" name="timesheet">
    <input type="text" name="worker">
    <input type="text" name="value">
    <input type="text" name="day">
    <input type="text" name="status">
    <input type="text" name="position">

    <button type="submit" class="click_post"></button>

</form>
<style>
    input:focus{
        border: 1px solid green !important;
    }
    th {
        vertical-align: middle !important;
    }
    .list-group{
        width: fit-content !important;
        background: #262626c9 !important;
        display: none;
        position: absolute;
        z-index: 1000;
    }
    .list-group > button {
        background: #262626c9;
        color: white;
        font-size: 12px;
    }
    div.row {
        justify-content: flex-start !important;
    }
</style>

<script type="text/javascript">
    function show_hide(){
        el = document.getElementById('list-group');
        el.style.display = 'block';
        el.style.top = event.clientY+'px';
        el.style.left = event.clientX+'px';
    }

    function set_attr(timesheet, worker, val, day, position){
        document.querySelector('input[name=timesheet]').setAttribute('value',timesheet);
        document.querySelector('input[name=worker]').setAttribute('value',worker);
        document.querySelector('input[name=value]').setAttribute('value',val);
        document.querySelector('input[name=day]').setAttribute('value',day);
        document.querySelector('input[name=position]').setAttribute('value', position);
    }

    $('button.list-post').click(function(e){
        document.querySelector('input[name=status]').setAttribute('value',this.value);
        $(".click_post").click();
    })

    $('button.list-view').click(function(e){
        document.querySelector('input[name=status]').setAttribute('value', 'note');
        var timesheet = document.querySelector('input[name=timesheet]').getAttribute('value');
        var worker = document.querySelector('input[name=worker]').getAttribute('value');
        var day = document.querySelector('input[name=day]').getAttribute('value');
        document.location.href = '/salary/view_timesheet/'+timesheet+'/'+worker+'/'+day;

    })

    $('input').contextmenu(function(event){
        set_attr(this.name, this.id, this.value, this.getAttribute('day'), this.getAttribute('position'));
        show_hide();return false;
    });

    $('input').dblclick(function(event){
        set_attr( this.name, this.id, this.value, this.getAttribute('day'), this.getAttribute('position'));
        show_hide();
    });

    $('body').click(function(event){
        el = document.getElementById('list-group');
        el.style.display = 'none';
    });

    $('input.form-control').keyup(function(event){
        if(event.keyCode > 47 && event.keyCode <58 || event.keyCode > 95 && event.keyCode <106){
            /*alert(this.id + ' ' +this.name + ' ' + this.value+' '+this.getAttribute('day'));*/
            set_attr(this.name, this.id, this.value, this.getAttribute('day'), this.getAttribute('position') );
            $(".click_post").click();
        }
    })

    function choose_timesheet(department){
        date_times = document.getElementById('select_year').value +'-'+ document.getElementById('select_month').value + '-' + '01';
        window.location.href = '/salary/timesheet/' + department + '/' + date_times + '/';
    }

    $('.select_position').change(function(e){
        // select = document.getElementById('select_position')
        name = this.parentNode.nextElementSibling.children[0].children[0].getAttribute('name')
        id = this.parentNode.nextElementSibling.children[0].children[0].getAttribute('id')
        value = this.parentNode.nextElementSibling.children[0].children[0].getAttribute('value')
        day = this.parentNode.nextElementSibling.children[0].children[0].getAttribute('day')
        position = this.value
        console.log(name);
        console.log(id);
        console.log(value);
        console.log(day);
        console.log(this.value);

        set_attr(name, id, value, day, position );
        $(".click_post").click();

    })

    $('.put_info').click(function(e){
        user_name = this.parentNode.parentNode.children[1].textContent
        user_id = this.parentNode.parentNode.children[1].id
        time_sheet_id = this.parentNode.parentNode.children[4].children[0].children[0].getAttribute('name')
        console.log(user_name)
        console.log(user_id)
        console.log(time_sheet_id)
        modal_input = document.getElementById('modal_input')
        modal_input.setAttribute('name', user_id)
        modal_input.setAttribute('time_sheet', time_sheet_id)
        modal_input.value = user_name

    })


    function sent_for_move(){
        modal_input = document.getElementById('modal_input')

        worker_id = modal_input.getAttribute('name')
        time_sheet_id = modal_input.getAttribute('time_sheet')
        department = $('#select_department').val()

        console.log(worker_id)
        console.log(time_sheet_id)
        console.log(department)
        if (department > 0) {
            const requestOptions = {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    'worker_id': worker_id,
                    'department': department,
                    'time_sheet_id': time_sheet_id
                }),};
                fetch('/salary/move-worker/', requestOptions);
                window.location.href = '/salary/timesheet/';
        }
        else {
            alert('Не выбран участок!')
        }
    }

</script>
{% endblock %}

